body {
  /*padding-top: 50px;*/
}
p {
  font-family: 'PT Sans Narrow', sans-serif;
}

a {
  font-family: 'PT Sans Narrow', sans-serif;
}

h1 {
  font-family: 'PT Sans Narrow', sans-serif;
  font-weight: bold;
}

body,html {
  width: 100%;
  height: 100%;
}
.tile {
  height: 100%;
  width: 100%;
  background-color: #eaeaea;
}

#title {
  background-color: #000000;
}

#logo {
  position:absolute;
  top:50%;
  max-width:50%;
  left:50%;
  margin-left:-25%;
  margin-top:-12%;
  display:block; 
}

#about {
  background-color: #FFFFFF;
  padding-top:5%;
}

#submit {
  background-color: #eaeaea;
  padding-top:5%;
}

.intro-text {
  padding: 40px 15px;
  text-align: center;
}

.navbar {
  background-color: rgba(0, 0, 0, 0.3);
  min-height:74px;
}

.navbar-brand {
  min-height:74px;
  line-height:45px;
  font-size:25px;
}

.navbar-inverse {
  border-color: transparent;
}

.navbar-inverse .navbar-brand {
  color:#FFFFFF;
}

.navbar-inverse .navbar-brand:hover,
.navbar-inverse .navbar-brand:focus {
  color: #999;
  background-color: transparent;
}

.navbar-nav {
  min-height:74px;
  line-height: 45px;
  float:right;
}

.navbar-nav>li>a {
  line-height:45px;
  font-size:20px;
  padding-left:30px;
}

.navbar-inverse .navbar-nav >li >a {
  color:#FFFFFF;
}

.navbar-inverse .navbar-nav >li >a:hover,
.navbar-inverse .navbar-nav >li >a:focus {
  color: #999;
  background-color: transparent;
}